.ad-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
 
.ad-view-head {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between; 
    padding: 10px 20px;
    position: relative;
}
  

.ad-view-head button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 100%;
    cursor: pointer;
}

.ad-view-head button:hover {
    background-color: #393838;
}

.ad-view-head h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}
  
.ad-view-image {
    margin-top: 20px;
}
  
.ad-icon-large {
    width: 300px;
    height: auto;
    margin: 20px 0;
}
  
.ad-view-content {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-top: 15px;
}
  
  
